<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- 数据库连接信息请自行修改密码 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/bookshop?useUnicode=true" />
		<property name="username" value="root" />
		<property name="password" value="zcj652584" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQL5Dialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/ssh/shop/po/Book.hbm.xml</value>
				<value>com/ssh/shop/po/BookVariety.hbm.xml</value>
				<value>com/ssh/shop/po/Boss.hbm.xml</value>
				<value>com/ssh/shop/po/CommentRecord.hbm.xml</value>
				<value>com/ssh/shop/po/Notification.hbm.xml</value>
				<value>com/ssh/shop/po/Order.hbm.xml</value>
				<value>com/ssh/shop/po/OrderDetail.hbm.xml</value>
				<value>com/ssh/shop/po/Shoppingcart.hbm.xml</value>
				<value>com/ssh/shop/po/ShoppingCartDetail.hbm.xml</value>
				<value>com/ssh/shop/po/User.hbm.xml</value>
				<value>com/ssh/shop/po/LikeRecord.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- 配置DAO类 -->
	<bean id="bossDao" class="com.ssh.shop.dao.BossDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置业务层类 -->
	<bean id="bossService" class="com.ssh.shop.service.BossServiceImpl">
		<property name="bossDao" ref="bossDao"></property>
	</bean>
	
	<!-- 配置Action类 -->
	<bean id="bossAction" class="com.ssh.shop.action.BossAction"
		scope="prototype">
		<property name="bossService" ref="bossService"></property>
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>